@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i");
:root {
  --main-accent-color: #0bb2e8;
  --title-text-color: #0F0F0F;
  --body-text-color: #999999; }

html, body {
  height: 100%;
  margin: 0; }

ul {
  list-style: none;
  -webkit-padding-start: 0; }

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; }

/*--- LOGO ---*/
.logo-wrapper {
  width: 30%;
  position: relative;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .logo-wrapper #logo-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    letter-spacing: 0.02em;
    color: white;
    margin: 0;
    padding: 0;
    padding-bottom: 1em; }

@media only screen and (max-width: 600px) {
  .logo-wrapper {
    width: 30%;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .logo-wrapper #logo-text {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5vw;
      letter-spacing: 0.02em;
      color: white;
      margin: 0;
      padding: 0;
      padding-bottom: 1em; } }
/*--- NAV ---*/
.main-nav {
  position: fixed;
  bottom: 30px;
  left: 0;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  z-index: 0; }
  .main-nav ul {
    margin: 0;
    padding: 0; }
    .main-nav ul li {
      display: inline-block;
      padding-left: 1em;
      padding-right: 1em; }
      .main-nav ul li a {
        color: white;
        font-size: 0.7em;
        font-weight: 300; }
        .main-nav ul li a:hover {
          font-weight: 400; }

.main-nav2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all 0.5s ease;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 10; }
  .main-nav2 ul {
    margin: 0;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1.2em; }
    .main-nav2 ul li {
      display: inline-block;
      padding-left: 1em;
      padding-right: 1em; }
      .main-nav2 ul li a {
        color: black;
        font-size: 0.7em;
        font-weight: 300; }
        .main-nav2 ul li a:hover {
          font-weight: 400; }

#top-menu li.active a {
  font-weight: bold; }

@media only screen and (max-width: 600px) {
  .main-nav {
    position: fixed;
    bottom: 30px;
    left: 0;
    margin-left: 14%;
    transform: translate(0%, -50%);
    width: 100%;
    text-align: left;
    transition: all 0.5s ease;
    z-index: 0; }
    .main-nav ul {
      margin: 0;
      padding: 0; }
      .main-nav ul li {
        display: block;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        padding-left: 1em;
        padding-right: 1em; }
        .main-nav ul li a {
          color: white;
          font-size: 1em;
          font-weight: 300; }

  .main-nav2 {
    display: none; } }
/*--- DIM ---*/
#dim {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out; }

/*--- SECTIONS ---*/
.section-title {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 9vw 0vw 0vw 0vw;
  margin-left: 7%; }

@media only screen and (max-width: 480px) {
  .section-title {
    padding: 10vw 0vw 0vw 0vw;
    margin-left: 7%; } }
.section1 {
  height: 100%;
  background-image: url("../assets/images/background-image/main-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0; }

.section2 {
  position: relative;
  max-height: 1000%;
  min-height: 100%;
  width: 70%;
  margin: auto; }
  .section2 #grid-wrapper {
    width: 90%;
    height: 100%;
    margin: 0;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0; }
    .section2 #grid-wrapper .cell {
      display: inline; }
      .section2 #grid-wrapper .cell .thumbnail {
        width: calc(78% / 6);
        padding: 1vw; }
      .section2 #grid-wrapper .cell .popup-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 70%;
        max-width: 1600px;
        transform: scale(0, 0);
        z-index: 3;
        background-color: white; }
        .section2 #grid-wrapper .cell .popup-wrapper .popup-image {
          float: left;
          width: 30vw;
          height: auto;
          padding: 3em;
          padding-right: 5em; }
        .section2 #grid-wrapper .cell .popup-wrapper .info-wrapper {
          display: inline;
          width: 100%;
          font-family: 'Montserrat', sans-serif; }
          .section2 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectTitle {
            margin: 0;
            padding: 8vw 8em 0.7em 1em;
            font-size: 1.3em; }
          .section2 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails {
            margin: 0;
            padding: 0em 8em 1em 1.5em;
            font-size: 0.9em; }
          .section2 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails2 {
            margin: 0;
            padding: 0em 8em 1em 1.5em;
            font-size: 0.9em;
            padding-bottom: 5em; }

@media only screen and (max-width: 1400px) {
  .section2 #grid-wrapper .cell .thumbnail {
    width: calc(85% / 4); }
  .section2 #grid-wrapper .cell .popup-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 400px;
    transform: scale(0, 0);
    z-index: 3;
    margin-bottom: 50vw;
    background-color: none;
    padding: 0; }
    .section2 #grid-wrapper .cell .popup-wrapper .popup-image {
      width: 100%;
      height: auto;
      padding: 0;
      padding-bottom: 2em; }
    .section2 #grid-wrapper .cell .popup-wrapper .info-wrapper {
      width: 100%;
      height: 10%;
      background-color: white;
      font-family: 'Montserrat', sans-serif;
      padding-bottom: 1em; }
      .section2 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectTitle {
        margin: 0;
        padding: 1em 2em 1em 1em;
        font-size: 1.3em; }
      .section2 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails {
        margin: 0;
        padding: 0em 2em 1.3em 1.5em;
        font-size: 0.9em; }
      .section2 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails2 {
        margin: 0;
        padding: 0em 2em 3em 1.5em;
        font-size: 0.9em; } }
@media only screen and (max-width: 1024px) {
  .section2 #grid-wrapper .cell .thumbnail {
    width: calc(85% / 3); }
  .section2 #grid-wrapper .cell .popup-wrapper {
    width: 70%; } }
@media only screen and (max-width: 480px) {
  .section2 #grid-wrapper .cell .thumbnail {
    width: calc(90% / 2); } }
.section3 {
  position: relative;
  max-height: 1000%;
  min-height: 100%;
  width: 70%;
  margin: auto; }
  .section3 #grid-wrapper {
    width: 90%;
    height: 100%;
    margin: 0;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0; }
    .section3 #grid-wrapper .cell {
      display: inline; }
      .section3 #grid-wrapper .cell .thumbnail {
        width: calc(82% / 5);
        padding: 1vw; }
      .section3 #grid-wrapper .cell .popup-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 70%;
        max-width: 1600px;
        transform: scale(0, 0);
        z-index: 3;
        background-color: white; }
        .section3 #grid-wrapper .cell .popup-wrapper .popup-image {
          float: left;
          width: 30vw;
          height: auto;
          padding: 3em;
          padding-right: 5em; }
        .section3 #grid-wrapper .cell .popup-wrapper .info-wrapper {
          display: inline;
          width: 100%;
          font-family: 'Montserrat', sans-serif; }
          .section3 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectTitle {
            margin: 0;
            padding: 8vw 8em 0.7em 1em;
            font-size: 1.3em; }
          .section3 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails {
            margin: 0;
            padding: 0em 8em 1em 1.5em;
            font-size: 0.9em; }
          .section3 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails2 {
            margin: 0;
            padding: 0em 8em 1em 1.5em;
            font-size: 0.9em;
            padding-bottom: 5em; }

@media only screen and (max-width: 1400px) {
  .section3 #grid-wrapper .cell .thumbnail {
    width: calc(85% / 4); } }
@media only screen and (max-width: 1024px) {
  .section3 #grid-wrapper .cell .thumbnail {
    width: calc(85% / 3); } }
@media only screen and (max-width: 480px) {
  .section3 #grid-wrapper .cell .thumbnail {
    width: calc(90% / 2); } }
.section4 {
  position: relative;
  max-height: 1000%;
  min-height: 100%;
  width: 70%;
  margin: auto; }
  .section4 #grid-wrapper {
    width: 90%;
    height: 100%;
    margin: 0;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0; }
    .section4 #grid-wrapper .cell {
      display: inline; }
      .section4 #grid-wrapper .cell .thumbnail {
        width: calc(82% / 5);
        padding: 1vw; }
      .section4 #grid-wrapper .cell .popup-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 70%;
        max-width: 1600px;
        transform: scale(0, 0);
        z-index: 3;
        background-color: white; }
        .section4 #grid-wrapper .cell .popup-wrapper .popup-image {
          float: left;
          width: 20vw;
          padding: 3em;
          padding-right: 10vw; }
        .section4 #grid-wrapper .cell .popup-wrapper .info-wrapper {
          display: inline;
          width: 100%;
          font-family: 'Montserrat', sans-serif; }
          .section4 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectTitle {
            margin: 0;
            padding: 8vw 8em 0.7em 1em;
            font-size: 1.3em; }
          .section4 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails {
            margin: 0;
            padding: 0em 8em 1em 1.5em;
            font-size: 0.9em; }
          .section4 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails2 {
            margin: 0;
            padding: 0em 8em 1em 1.5em;
            font-size: 0.9em;
            padding-bottom: 5em; }

@media only screen and (max-width: 1400px) {
  .section4 #grid-wrapper .cell .thumbnail {
    width: calc(85% / 4); } }
@media only screen and (max-width: 1024px) {
  .section4 #grid-wrapper .cell .thumbnail {
    width: calc(85% / 3); }
  .section4 #grid-wrapper .cell .popup-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 400px;
    transform: scale(0, 0);
    z-index: 3;
    margin-bottom: 50vw;
    background-color: none;
    padding: 0; }
    .section4 #grid-wrapper .cell .popup-wrapper .popup-image {
      width: 100%;
      height: auto;
      padding: 0;
      padding-bottom: 2em; }
    .section4 #grid-wrapper .cell .popup-wrapper .info-wrapper {
      width: 100%;
      height: 10%;
      background-color: white;
      font-family: 'Montserrat', sans-serif;
      padding-bottom: 1em; }
      .section4 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectTitle {
        margin: 0;
        padding: 1em 2em 1em 1em;
        font-size: 1.3em; }
      .section4 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails {
        margin: 0;
        padding: 0em 2em 1.3em 1.5em;
        font-size: 0.9em; }
      .section4 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails2 {
        margin: 0;
        padding: 0em 2em 3em 1.5em;
        font-size: 0.9em; } }
@media only screen and (max-width: 480px) {
  .section4 #grid-wrapper .cell .thumbnail {
    width: calc(90% / 2); }
  .section4 #grid-wrapper .cell .popup-wrapper {
    width: 70%; } }
.section5 {
  position: relative;
  max-height: 1000%;
  min-height: 100%;
  width: 70%;
  margin: auto; }
  .section5 #grid-wrapper {
    width: 90%;
    height: 100%;
    margin: 0;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0; }
    .section5 #grid-wrapper .cell {
      display: inline; }
      .section5 #grid-wrapper .cell .thumbnail {
        width: calc(82% / 5);
        padding: 1vw; }
      .section5 #grid-wrapper .cell .popup-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 70%;
        max-width: 1600px;
        transform: scale(0, 0);
        z-index: 3;
        background-color: white; }
        .section5 #grid-wrapper .cell .popup-wrapper .popup-image {
          float: left;
          width: 20vw;
          padding: 3em;
          padding-right: 10vw; }
        .section5 #grid-wrapper .cell .popup-wrapper .info-wrapper {
          display: inline;
          width: 100%;
          font-family: 'Montserrat', sans-serif; }
          .section5 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectTitle {
            margin: 0;
            padding: 8vw 8em 0.7em 1em;
            font-size: 1.3em; }
          .section5 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails {
            margin: 0;
            padding: 0em 8em 1em 1.5em;
            font-size: 0.9em; }
          .section5 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails2 {
            margin: 0;
            padding: 0em 8em 1em 1.5em;
            font-size: 0.9em;
            padding-bottom: 5em; }

@media only screen and (max-width: 1400px) {
  .section5 #grid-wrapper .cell .thumbnail {
    width: calc(85% / 4); } }
@media only screen and (max-width: 1024px) {
  .section5 #grid-wrapper .cell .thumbnail {
    width: calc(85% / 3); } }
@media only screen and (max-width: 800px) {
  .section5 #grid-wrapper .cell .popup-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 400px;
    transform: scale(0, 0);
    z-index: 3;
    margin-bottom: 50vw;
    background-color: none;
    padding: 0; }
    .section5 #grid-wrapper .cell .popup-wrapper .popup-image {
      width: 100%;
      height: auto;
      padding: 0;
      padding-bottom: 2em; }
    .section5 #grid-wrapper .cell .popup-wrapper .info-wrapper {
      width: 100%;
      height: 10%;
      background-color: white;
      font-family: 'Montserrat', sans-serif;
      padding-bottom: 1em; }
      .section5 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectTitle {
        margin: 0;
        padding: 1em 2em 1em 1em;
        font-size: 1.3em; }
      .section5 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails {
        margin: 0;
        padding: 0em 2em 1.3em 1.5em;
        font-size: 0.9em; }
      .section5 #grid-wrapper .cell .popup-wrapper .info-wrapper .projectDetails2 {
        margin: 0;
        padding: 0em 2em 3em 1.5em;
        font-size: 0.9em; } }
@media only screen and (max-width: 480px) {
  .section5 #grid-wrapper .cell .thumbnail {
    width: calc(90% / 2); }
  .section5 #grid-wrapper .cell .popup-wrapper {
    width: 70%; } }
.section6 {
  position: relative;
  height: 100%;
  width: 70%;
  margin: auto;
  z-index: 1; }

.section7 {
  position: relative;
  height: 100%;
  width: 70%;
  margin: auto;
  z-index: 1;
  /* CSS for contact form */ }
  .section7 .contact-form {
    position: relative;
    z-index: 999;
    width: 70%;
    max-width: 700px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 50px;
    background-color: white;
    text-align: center; }
    .section7 .contact-form input {
      font-family: 'Montserrat', sans-serif;
      border: none;
      border-bottom: 1px solid gainsboro;
      width: 70%;
      padding-bottom: 10px;
      margin-bottom: 35px !important; }
    .section7 .contact-form textarea {
      font-family: 'Montserrat', sans-serif;
      border: none;
      border-bottom: 1px solid gainsboro;
      width: 70%;
      max-width: 70%;
      height: 100%;
      margin-bottom: 35px !important; }
    .section7 .contact-form button {
      font-family: 'Montserrat', sans-serif;
      border: none;
      width: 30%;
      padding: 10px;
      margin-top: 15px; }
      .section7 .contact-form button:active {
        padding-bottom: 14px;
        border-bottom: 1px solid gainsboro; }
    .section7 .contact-form .send-button {
      text-align: center; }
  .section7 input:focus,
  .section7 button:focus,
  .section7 textarea:focus {
    outline: 0; }
  .section7 button[type=submit] {
    color: #787878;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); }
    .section7 button[type=submit]:hover {
      color: var(--main-accent-color);
      border-color: var(--main-accent-color); }
    .section7 button[type=submit]:active {
      color: black;
      margin-top: 1px; }

/* BACK TO TOP BUTTON */
#toTop {
  position: fixed;
  right: 0;
  bottom: 10px;
  z-index: 1000;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  padding: 15px 17px;
  border-radius: 50px;
  transform: scale(0);
  transition: 0.5s; }
  #toTop:focus {
    outline: 0; }
  #toTop a {
    text-decoration: none;
    color: white; }
    #toTop a:visited {
      color: white; }

.show-button {
  transform: scale(1) !important;
  transition: 0.5s cubic-bezier(0.41, 1.88, 0.61, 0.76); }

.show-button:hover {
  transform: scale(1.25) !important; }

@media only screen and (max-width: 1024px) {
  .logo-wrapper {
    width: 80%; }
    .logo-wrapper #logo-text {
      font-size: 6vw; } }

/*# sourceMappingURL=main.css.map */
